@import "common.styles.css";

.carForm {
    border:8px inset rgba(50,50,60,0.8);
    width:50%;
    text-align:center;
}

.carForm h1{
    color:Black;
    width:90%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.carForm .form-group{

}


.carForm .form-control{
    background-color:rgba(100,100,50,0.3);
    color:white;
    text-align:center;
    height:30px;
    font-size:26px;
    width:50%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:20px;
}

.carForm input[type=button]{
    background-color:black;
    width:30%;
    height:40px;
}

.carForm input[type=number]{
    margin-left:1px;
    background-color:rgba(100,100,50,0.3);
    height:30px;
    width:30%;
}